  <table class="table table-hover" id="myuser" style="min-height: 200px;">
      <thead>
      
        <tr>
          <th> 编号</th>
          <th>姓名</th>
          <th>岗位</th> 
          <th>电话</th>
          <th>部门</th>
          <th>职位</th>
        </tr>
      </thead>
      <tbody >
        {volist name="list" id="vo"}
        <tr>
          <td> {$i}</td>
          <td>{$vo.name}</td>
          <td>{$vo.post}</td>
          <td>{$vo.mobile}</td>
          <td>{$vo.dept}</td>
          <td>{$vo.title}</td>         
        </tr>
        {/volist}
        <tr>
                <td colspan=12>
                   <div class=>
                      <ul class="pagination pagination-xs pagination-custom">
                        {$show|raw}
                      </ul>
                    </div>
                </td>
              </tr>
      </tbody>
    </table>
<script>
 $(".pagination a").click(function(){
 cur_page = $(this).data('p');
 lists(cur_page);
 }); 
</script>