body {
    background-color: #fff;
    color: #6c6c6c;
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 1.4;
}
li {list-style-type:none;}
#sunfw_section_topbar {
  background-color: #000;
  font-size: 11px;
}
a {
   color: #282828;
    text-decoration: none;
}
a:hover, a:focus {
    
    text-decoration: none;
}
#sunfw_section_topbar {
  padding-top: 12px;
  padding-bottom: 12px;
}
@media (min-width: 1200px) {
  .container {
    width: 1200px; } }
.k2ItemsBlock.last-update {
  font-size: 11px;
  line-height: 23px; }
  .k2ItemsBlock.last-update .moduleItemDateCreated:before {
    content: '|';
    font-family: "Ubuntu";
    font-size: 11px;
    top: 2px; }
.k2ItemsBlock .moduleItemDateCreated {
  margin-left: 20px;
  position: relative;
  line-height: 100%;
  }
  .k2ItemsBlock .moduleItemAuthor, .k2ItemsBlock .moduleItemDateCreated {
  font-size: 11px;
  color: #7d7d7d;
  font-family: "Ubuntu"; }
  .k2ItemsBlock .moduleItemDateCreated:before {
    content: "\f068";
    font-family: "FontAwesome";
    position: absolute;
    left: -13px;
    font-size: 6px;
    top: 2px;
    text-shadow: none;
    }
   .text-right {
    text-align: right!important;
}
.list-inline .sunfw-item-contact {
  list-style: outside none none;
  line-height: 23px;
  margin-bottom: 0;
  text-align: right; }
  .list-inline .sunfw-item-contact li {
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px; }
    .list-inline .sunfw-item-contact li i {
      margin-right: 8px; }
      .sunfw-direction-rtl .list-inline .sunfw-item-contact li i {
        margin-left: 8px;
        margin-right: inherit; }
#sunfw_section_topbar a {
  color: #6d6d6d;
}
#sunfw_section_topbar a:hover {
  color: #fff;
}
#sunfw_section_header {
  background-color: #282828;
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
}
/*#sunfw_section_header {
  padding-top: 16px;
}*/
/*.sunfw-logo {
  padding-top: 15px;
  padding-bottom: 15px; }*/
#column_column-5 {
  padding-right: 0px;
}
@media (min-width: 768px) {
  .sunfw-menu-head.navbar-default {
    background: transparent;
    margin: 0;
    border: none; }
    .sunfw-menu-head.navbar-default .navbar-collapse {
      padding: 0; }
    .sunfw-menu-head.navbar-default .navbar-nav > li {
      padding-left: 19px;
      padding-right: 19px;
      border-right: 1px solid #2351a7; }
      .sunfw-direction-rtl .sunfw-menu-head.navbar-default .navbar-nav > li {
        border-left: 1px solid #2351a7;
        border-right: inherit; }
      .sunfw-menu-head.navbar-default .navbar-nav > li > a {
        text-transform: uppercase;
        color: #96b1e3;
        font-weight: normal;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        padding-top: 20px;
        padding-bottom: 19px;
        line-height: 100%;
        background: transparent; }
        .sunfw-menu-head.navbar-default .navbar-nav > li > a .caret {
          margin-left: 10px; }
          .sunfw-direction-rtl .sunfw-menu-head.navbar-default .navbar-nav > li > a .caret {
            margin-right: 10px;
            margin-left: inherit; }
      .sunfw-menu-head.navbar-default .navbar-nav > li.active a, .sunfw-menu-head.navbar-default .navbar-nav > li:hover a, .sunfw-menu-head.navbar-default .navbar-nav > li:focus a {
        color: #fff; }
        .sunfw-menu-head.navbar-default .navbar-nav > li.active a:hover, .sunfw-menu-head.navbar-default .navbar-nav > li.active a:focus, .sunfw-menu-head.navbar-default .navbar-nav > li:hover a:hover, .sunfw-menu-head.navbar-default .navbar-nav > li:hover a:focus, .sunfw-menu-head.navbar-default .navbar-nav > li:focus a:hover, .sunfw-menu-head.navbar-default .navbar-nav > li:focus a:focus {
          outline: none; }
      .sunfw-menu-head.navbar-default .navbar-nav > li ul li.active a, .sunfw-menu-head.navbar-default .navbar-nav > li ul li:hover a, .sunfw-menu-head.navbar-default .navbar-nav > li ul li:focus a {
        background: transparent; }
      .sunfw-menu-head.navbar-default .navbar-nav > li ul li:last-child > a:before {
        display: none; }
      .sunfw-menu-head.navbar-default .navbar-nav > li:last-child > a {
        padding-right: 0; }
        .sunfw-direction-rtl .sunfw-menu-head.navbar-default .navbar-nav > li:last-child > a {
          padding-left: 0;
          padding-right: inherit; }

  ul.sunfw-tpl-menu.navbar-nav {
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0; }
  ul.sunfw-tpl-menu > li.dropdown-submenu ul {
    left: 0; }
    .sunfw-direction-rtl ul.sunfw-tpl-menu > li.dropdown-submenu ul {
      right: 0;
      left: auto; }
  ul.sunfw-tpl-menu ul {
    left: 0; }
    .sunfw-direction-rtl ul.sunfw-tpl-menu ul {
      right: 0;
      left: auto; }
  ul.sunfw-tpl-menu > li.dropdown-submenu li.dropdown-submenu .caret {
    right: 0px;
    position: absolute; }
  ul.sunfw-tpl-menu > li.dropdown-submenu li.dropdown-submenu > .dropdown-menu {
    display: none !important; }
  ul.sunfw-tpl-menu > li.dropdown-submenu li.dropdown-submenu:hover > .dropdown-menu {
    display: block !important; } }
.jsn-menu-sticky {
  background-color: #92CBD4;
  -webkit-box-shadow: none;
  box-shadow: none; }

@media (max-width: 768px) {
  ul.sunfw-tpl-menu > li.dropdown-submenu ul {
    background: #1748a2 !important;
    padding: 0 0 0 15px; }
    .sunfw-direction-rtl ul.sunfw-tpl-menu > li.dropdown-submenu ul {
      padding: 0 15px 0 0; }
    ul.sunfw-tpl-menu > li.dropdown-submenu ul a {
      color: #fff !important; }

  ul.sunfw-tpl-menu > li.dropdown-submenu ul li {
    padding: 0 0; }

  ul.sunfw-tpl-menu > li.dropdown-submenu ul li a {
    padding-left: 15px; }
    .sunfw-direction-rtl ul.sunfw-tpl-menu > li.dropdown-submenu ul li a {
      padding-right: 15px;
      padding-left: inherit; }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #154191 !important; }

  ul.sunfw-tpl-menu .caret:before {
    color: #fff !important; } }
    @media (min-width: 768px) {
  #menu_item_menu ul.navbar-nav > li:hover, #menu_item_menu ul.navbar-nav > li.active {
    background: #154191;
  }
  .sunfw-menu-head.navbar-default .navbar-nav > li {
    border-right: 1px solid #1a51b5;
  }
  .search.search-inline #sun_search_icon {
    border-left: 1px solid #1a51b5;
  }
}
.block-right-menu:before, .social.social-top, .search.search-inline {
  background: #1849a3;
}
.hot-news a.moduleItemTitle .read-more {
  color: #1849a3;
}
.k2ItemsBlock a.moduleItemTitle:hover {
  color: #1849a3;
}
.k2ItemsBlock .moduleItemAuthor a, .k2ItemsBlock .moduleItemDateCreated a {
  color: #1849a3 !important;
}
.menu-inline .nav > li a:hover, .menu-inline .nav > li a.active, .menu-inline .nav > li a.current {
  color: #1849a3 !important;
}
.search.search-inline:hover {
  background: #1849a3;
}
.social li a:hover {
  color: #154191;
}
.hot-news .module-title {
  background: #ff6e6e !important;
}
#k2Container .itemTitle sup {
  background: #ff6e6e;
}
#menu_item_menu {
  background-color: #1748a2;
}
#menu_item_menu ul.navbar-nav > li > a {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
#menu_item_menu ul.navbar-nav > li:hover > a, #menu_item_menu ul.navbar-nav > li.active > a {
  color: #fff;
  background-color: #154191;
}
#menu_item_menu ul.dropdown-menu, #menu_item_menu ul.sunfw-megamenu-sub-menu, #menu_item_menu .modulecontainer ul.nav-child {
  background-color: #fff;
}
#menu_item_menu ul.dropdown-menu li a, #menu_item_menu ul.sunfw-megamenu-sub-menu li a, #menu_item_menu .modulecontainer ul.nav-child li a {
  font-size: 12px;
  color: #000;
}
#menu_item_menu ul.dropdown-menu li a:hover, #menu_item_menu ul.sunfw-megamenu-sub-menu li a:hover, #menu_item_menu .modulecontainer ul.nav-child li a:hover, #menu_item_menu ul.dropdown-menu li a:focus, #menu_item_menu ul.sunfw-megamenu-sub-menu li a:focus, #menu_item_menu .modulecontainer ul.nav-child li a:focus, #menu_item_menu ul.dropdown-menu li a.current, #menu_item_menu ul.sunfw-megamenu-sub-menu li a.current, #menu_item_menu .modulecontainer ul.nav-child li a.current {
  color: #1748a2;
}
#menu_item_menu ul.dropdown-menu li.active > a, #menu_item_menu ul.sunfw-megamenu-sub-menu li.active > a, #menu_item_menu .modulecontainer ul.nav-child li.active > a {
  color: #1748a2;
}
#menu_item_menu ul.sunfw-megamenu-sub-menu li.current > a {
  color: #1748a2;
}
#menu_item_menu {
  background-color: #1748a2;
}
#menu_item_menu ul.navbar-nav > li > a {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
#menu_item_menu ul.navbar-nav > li:hover > a, #menu_item_menu ul.navbar-nav > li.active > a {
  color: #fff;
  background-color: #154191;
}
#menu_item_menu ul.dropdown-menu, #menu_item_menu ul.sunfw-megamenu-sub-menu, #menu_item_menu .modulecontainer ul.nav-child {
  background-color: #fff;
}
#menu_item_menu ul.dropdown-menu li a, #menu_item_menu ul.sunfw-megamenu-sub-menu li a, #menu_item_menu .modulecontainer ul.nav-child li a {
  font-size: 12px;
  color: #000;
}
#menu_item_menu ul.dropdown-menu li a:hover, #menu_item_menu ul.sunfw-megamenu-sub-menu li a:hover, #menu_item_menu .modulecontainer ul.nav-child li a:hover, #menu_item_menu ul.dropdown-menu li a:focus, #menu_item_menu ul.sunfw-megamenu-sub-menu li a:focus, #menu_item_menu .modulecontainer ul.nav-child li a:focus, #menu_item_menu ul.dropdown-menu li a.current, #menu_item_menu ul.sunfw-megamenu-sub-menu li a.current, #menu_item_menu .modulecontainer ul.nav-child li a.current {
  color: #1748a2;
}
#menu_item_menu ul.dropdown-menu li.active > a, #menu_item_menu ul.sunfw-megamenu-sub-menu li.active > a, #menu_item_menu .modulecontainer ul.nav-child li.active > a {
  color: #1748a2;
}
#menu_item_menu ul.sunfw-megamenu-sub-menu li.current > a {
  color: #1748a2;
}
#sunfw_section_top h3, #sunfw_section_top .h3 {
  font-size: 11px;
}
/*footer*/
#sunfw_section_footer {
  padding-bottom: 28px;
}
#column_column-14 {
  padding-top: 15px;
}
#column_column-15 {
  padding-top: 21px;
}
#column_column-22 {
  padding-top: 22px;
  padding-bottom: 25px;
}
 .module-titlee .box-title {
  background: #154191;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0;
			margin-bottom: 0;
			padding: 15px 15px;
    		line-height: 1;
}
.sel{    margin-bottom: 12px;
    border: 1px solid transparent;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 0px 10px 10px;}
.form-select{
	width: 140px;
	height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.sunfw-sticky.sunfw-sticky-open {
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    z-index: 9;
}
.sunfw-sticky.sunfw-sticky-open {
    margin-left: auto;
    margin-right: auto;
}
.btn-primary, .btn-default {
  padding-top: 6px;
}
.btn-primary, .btn-default {
  padding-right: 10px;
}
.btn-primary, .btn-default {
  padding-bottom: 6px;
}
.btn-primary, .btn-default {
  padding-left: 10px;
}
 .sunfw-pos-right .module-title .box-title {
  background: #f9f9f9;
  font-size: 16px;
  text-transform: uppercase;
}
.sunfw-pos-right .module-title  .box-title {
        margin-top: 0;
        margin-bottom: 29px;
        font-size: 16px;
        letter-spacing: 1px;
        padding-bottom: 15px;
        &.margin-bottom-0 {
          margin-bottom: 0;
        }
      }
.sunfw-pos-right .module-title .box-title {
    margin-top: 0;
    margin-bottom: 29px;
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 15px;
  }
.sunfw-pos-right .module-title .box-title {
    /*margin-top: 0;
    margin-bottom: 0;*/
    padding: 11px 15px;
    line-height: 1;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-style: normal;
  font-family: Fjalla One;
  line-height: 1.4;
  color: #282828;
  letter-spacing: 0px;
  text-transform: none;
}
.module-title2 .box-title {
    background: #154191;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}
.module-title2 .box-title {
    margin-top: 0;
    margin-bottom: 29px;
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 15px;
}
.module-title2 .box-title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 11px 15px;
    line-height: 1;
}
#sunfw_section_content-bottom {
    background-color: #0a1a39;
    font-size: 14px;
    line-height: 1.428;
}
#sunfw_section_content-bottom h1, #sunfw_section_content-bottom h2, #sunfw_section_content-bottom h3, #sunfw_section_content-bottom h4, #sunfw_section_content-bottom h5, #sunfw_section_content-bottom h6, #sunfw_section_content-bottom .h1, #sunfw_section_content-bottom .h2, #sunfw_section_content-bottom .h3, #sunfw_section_content-bottom .h4, #sunfw_section_content-bottom .h5, #sunfw_section_content-bottom .h6 {
    color: #fff;
    line-height: 1.4;
}
#sunfw_section_content-bottom a {
    color: #fff;
}
#column_column-12 {
    margin-top: 30px;
    margin-bottom: 50px;
}
h1, .h1 {
    font-size: 31px;
}
#column_column-10 {
    margin-bottom: 15px;
}
.fa {
    width: 16px;
    font-size: 1.23em;
    text-align: center;
}
.navtop{background: #154191;}
.b-page .current {
    background-color: #008CBA;
    color: #FFF;
    border-radius: 5px;
    border: 1px solid #008CBA;
    display: inline-block;
}
/*首页Function Menu*/
.sourse{height: 58px;margin-right: 5px;display: block;float: left;}
    .sourse-title:hover {
    -webkit-box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    /* box-shadow: 0 15px 30px rgb(0 0 0 / 10%); */
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
        border: 1px solid #dd85ba !important;
}
    .sourse-hed{background-color: dodgerblue;
                width: 125px;
                height: 54px;
                display: block;
                text-align: center;
                border-radius: 5px;
                line-height: 55px;
                font-size: 15px;
                color: #ffffff;
                /* border: 2px solid #badde3; */
                user-select: none;
                /*text-shadow: 1px 0px 0 rgb(0 0 0 / 50%);*/
                box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
            }

    .sourse-title{background-color: white;
                    width: 180px;
                    height: 54px;
                    display: block;
                    text-align: center;
                    border-radius: 5px;
                    line-height: 55px;
                    font-size: 15px;
                    color: #000000;
                    user-select: none;
                    text-shadow: 1px 0px 0 rgb(0 0 0 / 50%);
                    box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
                    border: 1px solid #cadce9;
            } 