
<script>
/*layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  carousel.render({
    elem: '#test1'
    ,width: '100%' //设置容器宽度
    ,height: '395' //设置容器宽度
    ,arrow: 'always' //始终显示箭头
    ,interval: '10000' //始终显示箭头
    ,anim: 'fade' //切换动画方式
  });
});*/

/*window.onload = function () {
  //判断class是否存在
  var a = $("#test1").hasClass("layui-carousel");
  if(a){
    var bannerH = $('.layui-carousel img')[0].height;
    $('.layui-carousel').css('height',bannerH+'px');
  }

}*/
</script>
<script src="__PUBLIC__/js/xiaofeng.js"></script>
<!-- <script src="__PUBLIC__/Home/js/jquery.min.js"></script> -->
<js file="__PUBLIC__/Home/js/index.js" />
