  <!DOCTYPE html>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="__PUBLIC__/Bootstrap/css/bootstrap.css" />
  <link href="__PUBLIC__/xfadmin/css/public.css" rel="stylesheet">
  <link href="__PUBLIC__/xfadmin/css/font-awesome.min.css" rel="stylesheet">
  <link href="__PUBLIC__/Home/css/template.css" rel="stylesheet">
  <link href="__PUBLIC__/Home/css/template1.css" rel="stylesheet">
  <link href="__PUBLIC__/Home/css/css.css" rel="stylesheet">
  <link href="__PUBLIC__/Home/css/head.css" rel="stylesheet">
  <link href="__PUBLIC__/Home/css/style.css" rel="stylesheet">
  <link href="__PUBLIC__/Home/css/index-1.css" rel="stylesheet">
  <link href="__PUBLIC__/Home/css/index.css" rel="stylesheet">
  <link href="__PUBLIC__/static/layui-v2.9.0/css/layui.css" rel="stylesheet">
  <link rel="stylesheet" href="__PUBLIC__/Home/css/normalize.min.css">   <!-- 1  -->
  <script src="__PUBLIC__/Home/js/template.js"></script>
  <script src="__PUBLIC__/Home/js/jquery.min.js"></script>
  <script src="__PUBLIC__/static/layui-v2.9.0/layui.js"></script>
  <script src="__PUBLIC__/Bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="__PUBLIC__/static/viewerjs/viewer.css">


<!--   <style>
    .sunfw-scrollup {
      background: #000000;
      color: #ffffff;
    }
  </style> -->
  <script>
    //SunBlank.initTemplate();
   /* if (window.MooTools !== undefined) {
      Element.implement({
        hide: function () {
          return this;
        },
        show: function (v) {
          return this;
        },
        slide: function (v) {
          return this;
        }
      });
    }*/




  </script>