<div id="sunfw_section_top" class="sunfw-section hidden-xs" style="display: none;">
	<div class="container"><div id="row_row-4" class="row flex flex-items-middle">
		<div id="column_column-7" class="col-xs-12 col-sm-12 col-md-7 col-lg-4 visible-lg visible-md visible-sm visible-xs"><div class="layout-item sunfw-item-joomla-module">
					<div class=" module-style  visible-lg visible-md visible-sm visible-xs">
	<div class="modulecontainer hot-news"><h3 class="module-title ">Hot news day</h3>
<div id="k2ModuleBox134" class="k2ItemsBlock default hot-news">
	  <ul>
        <li class="even lastItem">
	  <div class="media">
	  			  		<div class="media-body">

		      		      <div class="media-heading">
		      	<a class="moduleItemTitle" href="{:url('Index/article',array('aid'=>13))}">
		      		公告: 企业入口平台功能说明 	</a>
	  			</div>

   
	  		</div>
	  </div>
      
    </li>
        <li class="clearList"></li>
  </ul>

</div>
</div></div>
				</div></div><div class="custom dowebok2" style="width:400px;height: 75px;text-align: right;font-size: 16px;">
	<ul class="li" >

	<!-- <volist name="sr2" id="vol">
	<if condition="$vol neq '' ">
	<li style="padding-top:5px;text-align: left;"><if condition="$_SESSION['user']['lang'] eq 1 "><b style='color:#0c6fea;'>{$vol.name}</b> ({$vol.ename}):<b style='color:#ef0bdd;'>Today</b>Is your birthday，MAXIM company All colleagues wish you, in life, full of fun, full of happiness, at work, full of motivation, full of passion.<else /><b style='color:#0c6fea;'>{$vol.name}</b> ({$vol.ename}):<b style='color:#ef0bdd;'>今天</b>是你的生日，美声公司全体同事祝愿你，在生活中，充满乐趣，充满快乐，在工作中，充满动力，充满激情。</if> <b style='color:#ef0bdd;'>{:date('m-d',strtotime($vol['birthday']))}</b></li>
	</if>
	</volist> -->
	
	</ul>
</div>

<div id="column_column-8" class="col-xs-12 col-sm-12 col-md-5 col-lg-4 visible-lg visible-md visible-sm visible-xs"><div class="layout-item sunfw-item-joomla-module">
					<div class=" module-style  visible-lg visible-md visible-sm visible-xs">
	<div class="modulecontainer ">

<div class="custom dowebok" style="height: 75px;text-align: right;font-size: 16px;">
	<!-- <ul class="li" >
	<volist name="sr" id="vol">
	<li style="padding-top:5px"><if condition="$_SESSION['user']['lang'] eq 1 ">{:user_companyen($vol['mid'])}<else />{:user_company($vol['mid'])}</if> <b style='color:#0c6fea;'>{$vol.name}</b> <?php if(date('m-d',strtotime($vol['birthday']))==date('m-d',time())){echo "<b style='color:#ef0bdd;'>今天</b>";}?>生日 {$vol.ename} birthday <b style='color:#ef0bdd;'>{:date('m-d',strtotime($vol['birthday']))}</b></li>
	</volist>
	
	</ul> -->
</div>
</div></div>
				</div></div>	</div></div></div>
<script src="__PUBLIC__/js/jquery.liMarquee.js"></script>
<script>
$(function(){
	$('.dowebok').liMarquee({
		direction: 'up',
		scrollamount: 25
	});

});

</script>