<div id="sunfw_section_content-top" class="sunfw-section ">
<div class="container">
<div id="row_row-5" class="row " style="margin-right: -30px;">
    <div id="column_column-9" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="layout-item sunfw-item-module-position">
          <div class="sunfw-pos-content-top  visible-lg visible-md visible-sm visible-xs">
  
  <div class="layui-carousel" id="test1">
  <div carousel-item>
    <div><img src="__PUBLIC__/Home/img/indexbanner.png" alt="" style="width: inherit;"></div>
    <div><img src="__PUBLIC__/Home/img/indexbanner2.png" alt="" style="width: inherit;"></div>
    
  </div>
</div>
</div>
</div></div>  
</div></div></div>